<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/iconlogo.svg" type="image/x-icon">
    <title>Sabor3 Regiones | Selva</title>
    <link href="../estilos/categorias.css" rel="stylesheet">

    <!-- ***** Icons ***** -->

    <link rel="stylesheet" href="../https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body>
    <header>
        <div class="container">
            <div>
                <nav class="main-nav">
                    <!-- ***** Logo ***** -->
                    <a href="../index.html" class="logo">
                        <img src="../images/imagotipo.svg">
                    </a>
                </nav>
            </div>
            <!-- ***** Menu ***** -->
            <div>
                <nav class="main-nav">
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="../index.html#about">Sobre nosotros</a></li>
                        <li class="scroll-to-section"><a href="../index.html#categorias">Categorías</a></li>
                        <li class="scroll-to-section"><a href="../index.html#reservas">Contáctanos</a></li>
                    </ul>
                    <div>
                </nav>
            </div>
    </header>
    <br><br><br><br><br>


    <body>
        <div class="section-heading">
            <h6>Sabor Selva</h6>
            <h2>Te dejamos un delicioso recuerdo</h2>
        </div>
        <div class="tablas">
            <div class="columna">
                <table>
                    <tr>
                        <td><img src="../images/selva1.jpg" alt="Comida 1" width="100"></td>
                        <td><b>Tacacho con cecina</b><br>
                            <p class="description"> Plátanos verdes machacados y asados, servidos con carne seca.</p>
                        </td>
                        <td class="precio">S/20.00</td>
                    </tr>
                    <tr>
                        <td><img src="../images/selva2.jpg" alt="Comida 2" width="100"></td>
                        <td><b>Inchicapi</b><br>
                            <p class="description">Sopa espesa de maní con pollo y yuca.</p>
                        </td>
                        <td class="precio">S/15.00</td>
                    </tr>
                    <tr>
                        <td><img src="../images/selva3.jpg" alt="Comida 3" width="100"></td>
                        <td><b>Juane</b><br>
                            <p class="description">Masa de arroz rellena de carne, huevo y aceitunas, cocida envuelta en
                                hojas de bijao.</p>
                        </td>
                        <td class="precio">S/8.00</td>
                    </tr>
                </table>
            </div>

            <div class="columna">
                <table>
                    <tr>
                        <td><img src="../images/selva4.jpg" alt="Comida 4" width="100"></td>
                        <td><b>Sarapatera</b><br>
                            <p class="description"> Sopa de carne de res con plátano y yuca.</p>
                        </td>
                        <td class="precio">S/15.50</td>
                    </tr>
                    <tr>
                        <td><img src="../images/selva5.jpg" alt="Comida 5" width="100"></td>
                        <td><b>Timbuche</b><br>
                            <p class="description"> Sopa espesa de pescado con plátano, yuca y cilantro.</p>
                        </td>
                        <td class="precio">S/10.00</td>
                    </tr>
                    <tr>
                        <td><img src="../images/selva6.jpg" alt="Comida 6" width="100"></td>
                        <td><b>Majaz</b><br>
                            <p class="description">Plátano verde hervido y machacado, mezclado con carne o pescado.</p>
                        </td>
                        <td class="precio">S/12.50</td>
                    </tr>
                </table>
                <br><br><br>
            </div>
        </div>
    </body>

    <footer>
        <div class="footer">
            <div class="logo">
                <img src="../images/imagotipo2.svg" alt="Logo">
            </div>
            <div class="copyright">
                <p> © Copyright 2023 Sabor3 Regiones <br>
                    Diseño: Laura Luque </p>
            </div>
        </div>
    </footer>
</body>

</html>