/* stylelint-disable declaration-block-no-redundant-longhand-properties */

@media (width >=768px){
    body {
        grid-template-rows: 100% 15% 200% 15% 120% 106% auto;
    }


    /* HEAD */
.inicio{
    width: 7%;
}

.logo{
    width: 100%;
    height: auto;
}

.labe-hamburguesa {
    display: none;
}

.ullinks{
    position: static;
    flex-direction: row;
    gap: 3rem;
    width: auto;
    height: auto;
}

.link{
    font-size: 3vh;
    transition: all .3s;
}

/* CONTENIDO PRINCIPAL */

.section-principal{
display: flex;
flex-direction: row;
text-align: start;
}

.section-principal .contenido-principal{
gap: 4px;
align-items: start;
justify-content: center;
width: 70%;
height: 100%;
padding-top: 0%;
padding-right: 0%;
}

.section-principal .animacion-principal{
width: 30%;
height: 100%;
}


.contenido-principal h1{
font-size: 7vh;
}

.contenido-principal p{
font-size: 3vh;
}

/* VENTANA MODAL */
.content-modal{
    width: 100%;
    max-width: 400px;
}

.content-modal img{
    width: 50%;
    height: 50%;
}


/* Animacion rotación-continua */
.rotacion-continua {
position: absolute;
top: 142px;
left: 80px;
width: 67vh;
height:67vh;
}

/* imagenes */

.img1, .img2, .img3, .img4 {
position: absolute;
width: 36%;
height: 36%;

}

/* MENÚ */

/* bebidas */
.bebidas{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 15% 15% 15% 15% 15% 15%;
    grid-template-areas:
    "title-b    title-b  title-b"
    "b-item1    b-item2  b-item3"
    "b-item1    b-item2  b-item3"
    "b-item1    b-item2  b-item3 "
    "b-item4    b-item5  b-item6"
    "b-item4    b-item5  b-item6"
    "b-item4    b-item5  b-item6"
    ;
}

/* alimentos */
.alimentos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 15% 15% 15% 15% 15% 15%;
    grid-template-areas:
    "title-a    title-a  title-a"
    "a-item1    a-item2  a-item3"
    "a-item1    a-item2  a-item3"
    "a-item1    a-item2  a-item3 "
    "a-item4    a-item5  a-item6"
    "a-item4    a-item5  a-item6"
    "a-item4    a-item5  a-item6"
    ;
}

/* Animacion Flip card */
.flip-card div{
    width: 235px;
    height: 235px;
}

.flip-card .back{
    gap:10px;
}

.back h5{
    font-size:15px;
}

.back p{
    font-size:11px;
}

.back a{
    font-size:15px;
}

/* R E W A R D S */
.section-rewards{
    height: 100%;

}

.rewards{
    height:120%;
}

.rewards-part1{
    height: 34%;
    padding-inline:14%;
    padding-top: 3%;
    padding-bottom: 0%;
    gap: 40px;
}

.rewards-part1 h5{
    font-size: 5vh;

}

.rewards-part1 p{
    font-size: 3vh;
}

.rewards-part2{
    padding-inline:12%;
    padding-top: 2%;
    padding-bottom: 0%;
    height: 42%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rewards-part2 img {
    width: 28vh;
    height: 28vh;
    }

.rewards-row{
    width: 50%;
}

.rewards-row div{
    height: 100%;
    font-size: 3.5vh;
}

/* PREGUNTAS */
.preguntas-frecuentes{
    padding-top: 0%;
    padding-bottom: 0%;
    gap: 30px;
}

.info-preguntas{
    padding-inline:12%;
    padding-top: 0%;
    gap: 30px;
}

.info-preguntas h5{
    padding-top: 0%;
    font-size: 5vh;
}

.info-preguntas p{
    font-size: 3vh;
}


.acordion{
    padding-inline:18%;
    padding-top: 2%;
    gap:25px;
}


.acordion summary{
    font-size: 3vh;
    padding: 30px;
}

.acordion p{
    padding: 20px;
    font-size: 2.5vh;
}

/* FOOTER */
.txt-footer{
    font-size:2.5vh;
}

.redes img{
    padding-top: 4%;
    padding-bottom: 4%;
    width: 14%;
    height: auto;
}
}